div.login-form-conrol {
  display: block;
  margin-top: 25px;
  margin-bottom: 50px;
}

label.login-form-conrol__label,
div.login-form-conrol__input {
  width: 100%;
}

div.home-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
